# icebreaker pcf

# system clock
set_io -nowarn mclk_i 35
set_frequency mclk_i 12

# user reset
set_io -nowarn rstn_i 10

# camera data on pmod1b
set_io -nowarn cam_data_i[7] 43
set_io -nowarn cam_data_i[6] 42
set_io -nowarn cam_data_i[5] 38
set_io -nowarn cam_data_i[4] 36
set_io -nowarn cam_data_i[3] 34
set_io -nowarn cam_data_i[2] 32
set_io -nowarn cam_data_i[1] 31
set_io -nowarn cam_data_i[0] 28

# camera sync and clock on pmod1a
set_io -nowarn cam_vsync_i 2
set_io -nowarn cam_hsync_i 48
set_io -nowarn cam_pclk_i 47
set_io -nowarn cam_xclk_o 46

# camera i2c on pmod1a
set_io -nowarn cam_scl_io 4
set_io -nowarn cam_sda_io 3
