# icebreaker pcf

# system clock
set_io -nowarn mclk_i 35
set_frequency mclk_i 12

# user reset (pull-up so it is high by default)
set_io -nowarn -pullup 1 rstn_i 10

# uart on FTDI (iCEBreaker)
set_io -nowarn uart_rxd_i 6
set_io -nowarn uart_txd_o 9
